@import 'core/settings';

body {
	margin: 0;
	background: linear-gradient(to bottom, $color-white, rgb(218, 216, 216)); 
	height: 100%;
	width: 100%;
	text-align: center;
}

img {
	width: 120px;
}

.container_principal {
	display: flex;
}

.title {
	text-transform: uppercase;
	color: $color-pretty;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_left {
	padding: 22px 22px 22px 40px;
	width: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.subtitle {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	color: $color-pretty;
}

.searching {
	display: flex;
	justify-content: center;
}

.input {
	height: 25px;
	font-size: 14px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px $color-grey;
}

.search {
	background-color: $color-pretty;
	font-size: 14px;
	color: $color-white-smoke;
	height: 28px;
	width: 65px;
	border: none;
	border-radius: 2px;
}

.erase_button {
	background-color: $color-pretty;
	font-size: 14px;
	color: $color-white-smoke;
	height: 28px;
	width: 110px;
	border: none;
	border-radius: 2px;
	margin-top: 30px;
}

.myFavourites {
	list-style: none;
	font-size: 20px;
	font-weight: 700;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.favourite_serie {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: solid 1px $color-pretty;
}

.favourite_photo {
	width: 70px;
}

.favourite_title_serie {
	margin: 10px;
	color: $color-pretty;
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fas {
	font-size: 16px;
	margin: 10px;
}

.container_right {
	width: 75%;
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap; 
}

.serie {
	background-color: $color-pink;
	color: $color-pretty;
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
	margin: 5px;
	width: 140px;
	text-align: center;
}

.favourite {
	color: $color-pink;
	background-color: $color-pretty;
	font-size: 18px;
	font-weight: 700;
}

.title_serie {
	margin: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.genre {
	list-style: none;
	padding: 0;
}

.item_genre {
	font-style: italic;
	font-size: 12px;
	color: rgb(27, 27, 27);
}